.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}

.container img {
    width: 130px;
    height: 43px;
}

.serchBox {
    width: 445px;
    height: 58px;
}