/* styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #171D39;
  --secondary-color: #60008C;
  --off-color: #a1a0a0;
  --bg-input: #F1F2F4;
  --duration-time: 0.5s;
}

body,
html {
  padding: 0 15px;
  scroll-behavior: smooth;
  /* text-align: center; */
  font-family: 'Yekan-Bakh-Normal', sans-serif;
  font-weight: bold;
}

ul,
li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}


input {
  outline: unset;
  border: unset;
  font-family: inherit;
}

button {
  border-style: none;
}